@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

$primaryColor: #473816; 
$secondaryColor: #80BD9E;//#cfa679; //#d5f2f0
$white: #fff;
$black: #333333;
$orange: #e7931a;
$padding: 100px 0;
$font: 16px;
$fontFamily: 'Montserrat', sans-serif;
$transition: .4s ease;

@mixin bgrImg {
    background-image: url(img/bg4.png);
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
}
@mixin btn {
    border: none;
    padding: 10px 20px;
    margin: 25px 0;
    border-radius: 5px;    
    background-color: $secondaryColor;
    a {
        color: $primaryColor;
        font-size: 1.1rem;
    }
    &:hover {
       background-color: $primaryColor;  
       transition: $transition;   
       a {
        color: $white;
       }
    }
}

/**************
basic styles
**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: $font;
    font-family: $fontFamily;
    background-color: $secondaryColor;
    }
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 70%;
    margin: 0 auto;
    @media only screen and (max-width:768px) {
        width: 85%;
    }    
}
h2 {
    font-size: 2.5rem;
    text-align: center;
    color: $primaryColor;
    &::after {
        display: block;
        content: "";
        width: 20%;
        height: 6px;
        background: linear-gradient(60deg, $secondaryColor, #d5f2f0);
        margin: 20px auto 60px auto;
    }
}
/**************
header
**************/
header {    
    @include bgrImg();
    padding: 20px 0; 
    .top-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        .logo {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            img {
                height: 60px;
                margin-right: 15px;
            }
            h3 {
                font-size: 1.8rem;
                color: $primaryColor;
            }
            h5 {
                color: $primaryColor;
            }
        }
            
        p {
            flex: 0 0 60%;
            justify-content: flex-end;   
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            color: $primaryColor;
            i {
                font-size: 2rem;
                margin: 0 10px;              
            }
            .fa-envelope {
                    border-left: 2px solid $primaryColor;
                    padding-left: 15px;
                }
        }
    }
}
/**************
nav
**************/
nav {
    background-color: $secondaryColor;
    li {
        display: inline-block;
        margin: 20px;
        a {
            color: $white;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.2rem;
            letter-spacing: 1.5px;
        }
    }
}

/**************
header-content
**************/
.header-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(img/header2.jpg);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60vh;
    h1 {
        font-size: 3rem;
        color: $white;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-shadow: 2px 1px 0px grey, 5px 4px 0px rgba(0,0,0,0.15);
    }
}

/**************
proizvodi
**************/
.proizvodi {
    @include bgrImg();
    
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    padding: $padding;
    .top-proizvodi {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        article {
            flex: 0 0 15%;
            color: $primaryColor;
            img {
                width: 100%;
                height: 180px;
            } 
            h4 {
                margin: 5px 0;
                text-transform: uppercase;
            }
            p {
                font-size: .9rem;
            }
        }
    }
    
}

/**************
lowCarbFront
**************/
.lowCarbFront {    
    padding: $padding;
    @include bgrImg();
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        article {
            h3 {
                font-size: 1.8rem;
                color: $primaryColor;
                margin-bottom: 20px;
            }
            p {
                color: $primaryColor;
                line-height: 1.4;
            }
            button {
                @include btn();
            }
        }
        article:first-child {
            flex: 0 0 65%;
        }
        article:last-child {
            flex: 0 0 30%;
            .imgWrapper {
                width: 100%;;
                overflow: hidden;
                img {
                    display: block;
                    margin-left: auto;
                    width: 100%;
                    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
                    &:hover {
                        opacity: .9;
                        transition: $transition;
                    }
                }                
            }    
        }        
    }
}

/**************
sprayFront
**************/
.sprayFront {
    @extend .lowCarbFront;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    article:first-child {
        order: 2;
        text-align: right;
    }
    .imgWrapper {
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        img {
            clip-path: none !important;
        }
    }
}

/**************
benefiti
**************/
.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 23.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.benefiti { 
    padding: $padding;
    @include bgrImg();
    opacity: .9;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .counter { 
            flex: 0 0 22%;
            background-color: #fffbf6;
            padding: 30px 0; 
            border-radius: 40px;
            .count-title { 
                font-size: 3rem; 
                font-weight: normal;  
                margin-top: 10px; 
                margin-bottom: 0; 
                text-align: center; 
                color: $primaryColor;
            }
            .count-text { 
                font-size: 1.2rem; 
                font-weight: normal; 
                margin-top: 10px; 
                margin-bottom: 0; 
                text-align: center; 
                color: $primaryColor;
            }
            .fa-2x { 
                margin: 0 auto; 
                display: table; 
            }
            i {
                color: $secondaryColor !important;
                font-size: 2.2rem;
            }            
        }
    } 
}

/**************
footer
**************/
footer {
    padding: 50px 0 40px 0;
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: $primaryColor;
    }
    article {
        flex: 0 0 30%;
        h4 {
            margin-bottom: 10px;
        }
    }
    article:nth-child(2) {
        text-align: center;
        i {
            display: block;
            margin-bottom: 5px;
        }
    }
    article:nth-child(3) {
        text-align: right;
        i {
            font-size: 2rem;
            margin-left: 10px;
        }
    }
}

/**************
blog page
**************/
.header-blog {
    background-image: url(img/bread-2864792_1920.jpg);
}
.blog {
    padding: $padding;
    @include bgrImg();
    .container {
        display: flex;
        justify-content: space-between;
        .posts {
            flex: 0 0 80%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            article {
                flex: 0 0 31%;                
                padding: 30px;
                background-color: $secondaryColor;
                border-radius: 10px;
                .featured-image {
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        max-height: 220px;
                        border-radius: 10px;
                        &:hover {
                            transform: scale(1.1);
                            transition: $transition;
                        }
                    }
                }
                h3 {
                    margin: 15px 0;
                    color: $primaryColor;
                }
                p {
                    color: $primaryColor;
                    line-height: 1.3;
                    margin-bottom: 15px;
                }
                button {
                    @include btn();
                    background-color: $primaryColor;
                    a {
                        color: $white;
                    }
                    &:hover {
                        background-color: $white;
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }  
        aside {
            flex: 0 0 15%;
            .widget {
                padding: 30px;
                background-color: $secondaryColor;
                border-radius: 10px;
                
            margin-bottom: 20px;
                h3 {
                    margin-bottom: 15px;
                    color: $primaryColor;
                } 
                a {
                    color: $primaryColor;
                    display: block;
                    margin-bottom: 10px;
                    &:hover {
                        font-weight: 700;
                        transition: $transition;
                    }
                }
            }            
        } 
    }
}














































